<!--<section class="full-screen no-padding fill xs-no-background" style="background-image:url('https://images.unsplash.com/photo-1563103123-085198e56a49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80');">-->
<section class="full-screen no-padding fill xs-no-background" style="background-image:url('https://images.unsplash.com/photo-1511844870246-db93b833bfaa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80');">
  <div class="container-fluid full-screen position-relative no-padding" >
    <div class="slider-typography xs-position-inherit">
      <div class="slider-text-middle-main">
        <div class="slider-text-top slider-text-middle2">
          <!-- logo -->
          <div class="coming-soon-logo"><img class="logo-style-2" src="assets/images/logo.png" alt=""/></div>
          <!-- end logo -->
          <span class="coming-soon-title text-uppercase black-text">We're getting ready to launch</span>
        </div>
      </div>
    </div>
    <div class="notify-me-main">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <span class="notify-me-text text-uppercase"><strong class="black-text">Our website is under restructuring.</strong> <br>We'll be here soon with our new business structure soon. Hang tight</span>
          </div>
        </div>
        <div class="row coming-soon-footer">
          <!-- social icon -->
          <div class="col-md-12 text-center margin-five no-margin-bottom footer-social">
            <a target="_blank" href="https://www.facebook.com/sapioweb"><i class="fab fa-facebook-square"></i></a>
            <a target="_blank" href="https://twitter.com/sapioweb"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/sapioweb"><i class="fab fa-instagram"></i></a>
          </div>
          <!-- end social icon -->
        </div>
      </div>
    </div>
  </div>
</section>
